@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

.container-fluid {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0 1rem;
}

bg-name {
  background-color: #344e41;
}

bg-name {
  background-color: #3a5a40;
}

bg-name {
  background-color: #588157;
}

bg-name {
  background-color: #a3b18a;
}

bg-name {
  background-color: #dad7cd;
}

bg-name {
  background-color: #fff;
}

/* SANS SERIF - DM SANS -> UPDATE TO MADE SANS*/
.txt-ss-h0 {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 140px;
  line-height: 120%;
  font-weight: 500;
}

.txt-ss-h1 {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 100px;
  line-height: 120%;
  font-weight: 500;
}

.txt-ss-h2 {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 77px;
  line-height: 120%;
  font-weight: 500;
}

.txt-ss-h3 {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 60px;
  line-height: 120%;
  font-weight: 500;
}

.txt-ss-h4 {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 120%;
  font-weight: 500;
}

.txt-ss-sub1 {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}

.txt-ss-sub2 {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.txt-ss-body1 {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.txt-ss-body2 {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

/* SCREEN SIZES */
/* MARGIN / PADDING - UTILITY CLASSES*/
.mx-auto {
  margin: 0 auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-xs {
  margin-top: 0.6rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mt-md {
  margin-top: 2rem;
}

.mt-lg {
  margin-top: 3rem;
}

.mt-xl {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-xs {
  margin-bottom: 0.6rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 2rem;
}

.mb-lg {
  margin-bottom: 3rem;
}

.mb-xl {
  margin-bottom: 5rem;
}

.ms-0 {
  margin-top: 0;
}

.ms-xs {
  margin-left: 0.6rem;
}

.ms-sm {
  margin-left: 1rem;
}

.ms-md {
  margin-left: 2rem;
}

.ms-lg {
  margin-left: 3rem;
}

.ms-xl {
  margin-left: 5rem;
}

.me-0 {
  margin-right: 0;
}

.me-xs {
  margin-right: 0.6rem;
}

.me-sm {
  margin-right: 1rem;
}

.me-md {
  margin-right: 2rem;
}

.me-lg {
  margin-right: 3rem;
}

.me-xl {
  margin-right: 5rem;
}

.p-0 {
  padding: 0;
}

.p-xs {
  padding: 0.5rem;
}

.p-sm {
  padding: 1rem;
}

.p-md {
  padding: 2rem;
}

.p-lg {
  padding: 3rem;
}

.p-xl {
  padding: 5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-xs {
  padding-top: 0.5rem;
}

.pt-sm {
  padding-top: 1rem;
}

.pt-md {
  padding-top: 2rem;
}

.pt-lg {
  padding-top: 3rem;
}

.pt-xl {
  padding-top: 5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-xs {
  padding-bottom: 0.5rem;
}

.pb-sm {
  padding-bottom: 1rem;
}

.pb-md {
  padding-bottom: 2rem;
}

.pb-lg {
  padding-bottom: 3rem;
}

.pb-xl {
  padding-bottom: 5rem;
}

/*
    - Achtergrondkleur naar keuze.
    - Tekstkleur naar keuze.
    - Gecentreerde tekst.
*/
h4 {
  background-color: #588157;
  color: #344e41;
  text-align: center;
}

/*  9.
    Maak een functie “increaseFontSize” (Zie BASE)
    Deze functie heeft een parameter $size en -- geeft de waarde hiervan vermenigvuldigd met 2 -- terug.
    Roep deze functie aan in de paragrafen voor de lettergrootte. */
p {
  font-size: 2rem;
}

.nav {
  padding: 1rem 1rem;
  background-color: #344e41;
}
.nav .nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}
.nav .nav-list .nav-listitem {
  display: inline-block;
  margin-left: 0.6rem;
  font-size: 1rem;
}
.nav .nav-list .nav-listitem .nav-link {
  text-decoration: none;
  color: #fff;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.nav .nav-list .nav-listitem .nav-link:hover {
  padding-bottom: 5rem;
  border-bottom: 1px solid #fff;
  color: #a3b18a;
}
.nav .nav-list .nav-listitem:first-of-type {
  margin-left: 0;
}

.banner {
  padding: 2rem 1rem;
  background-color: #fff;
  min-height: 70vh;
  text-align: center;
}
.banner .banner-heading {
  margin: 2rem auto;
  font-size: 2.441rem;
  color: #344e41;
}
.banner .banner-text {
  margin: 0 auto;
  font-size: 1rem;
  color: #344e41;
  max-width: 60ch;
  margin-top: 1rem;
}

.footer {
  padding: 3rem 1rem;
  background-color: #a3b18a;
  color: #fff;
  text-align: center;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-property: background-color;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}
.footer:hover {
  background-color: #3a5a40;
  color: #a3b18a;
}
.footer .footer-subheading {
  font-size: 1.953rem;
}
.footer .footer-text {
  margin-top: 1rem;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
