@use "base" as *;
@use "mixins" as *;


//  8. OK -- Pas deze stijl via een 'EXTEND' toe op alle paragrafen.
//  Het percentage-teken geeft aan dat je werkt met een placeholder selector.
%background-setup {
    background-color: map-get($colors, tertiary);
    color: map-get($colors, primary);
    text-align: center;
}

//  Toepassen EXTEND
h4 {
    @extend %background-setup;
}

/*  9.
    Maak een functie “increaseFontSize” (Zie BASE)
    Deze functie heeft een parameter $size en -- geeft de waarde hiervan vermenigvuldigd met 2 -- terug.
    Roep deze functie aan in de paragrafen voor de lettergrootte. */

    // Your other styles
    p {
        font-size: increaseFontSize(1rem);
        // Other paragraph styles...
    }

// NAVBAR
.nav { 
    @include blockPadding(sm);
    background-color: map-get($colors, primary);
    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        .nav-listitem {
            display: inline-block;
            margin-left: .6rem;
            font-size: $font-p;
            .nav-link {
                text-decoration: none;
                color: map-get($colors, white);
                @include transitionProperty(color, .3s, ease-in-out); 
                &:hover {
                    padding-bottom: $padding-xl;
                    border-bottom: 1px solid map-get($colors, white);
                    color: map-get($colors, soft);
                }
            }
            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}

// BANNER SECTION

.banner {
    @include blockPadding(md);
    background-color: map-get($colors, white);
    min-height: 70vh;
    text-align: center;
    .banner-heading {
        margin: $margin-md auto;
        font-size: $font-h3;
        color: map-get($colors, primary);;    
    }
    .banner-text {
        margin: 0 auto;
        font-size: $font-p;
        color: map-get($colors, primary);
        max-width: 60ch;
        margin-top: $margin-sm;
    }
}

//7. -- OK
// Definieer een hover effect binnen het footer element (gebruik hiervoor nesting). 
 //   - Zorg ervoor dat de tekstkleur en de achtergrondkleur wijzigt.
 //   - Vervolgens pas je een transition toe op de kleur van 0,5s én op de achtergrondkleur van 1s. 
 //   - Maak hiervoor gebruik van een mixin waarbij je meerdere waardes kan meegeven als argument.

.footer {
    @include blockPadding(lg);
    background-color: map-get($colors, soft);
    color: map-get($colors, white);
    text-align: center;

    // TRANSITIONS BASED ON MIXINS
    //COLOR
    @include transitionProperty(color, .5s, linear); 
    // BACKGROUND COLOR
    @include transitionProperty(background-color, 3s, ease-in-out);

    &:hover{
        background-color: map-get($colors, secondary);
        color: map-get($colors, soft);        
    }
    .footer-subheading {
        font-size: $font-h4;
    }
    .footer-text {
        margin-top: $margin-sm;
        font-size: $font-p;
    }
}

