@use "base" as *;

/*
    4.
    Gebruik nesting om:
      Gebruik verder de eerder gedefinieerde variabelen om de lettergrootte en de tekstkleur aan te passen.
    - Zorg er met een hover effect voor dat de tekstkleur van de anchor-link binnen het list-item wijzigt.

    5.  Maak een mixin margin-padding die ervoor zorgt dat de elementen nav, section en footer
        een margin en padding krijgen van 3px. Gebruik waar het kan de klasse namen. 
    6.
        Pas de mixin aan zodat je er een argument aan kan meegeven. Dit argument is de waarde voor de padding.
        Voor de nav is dat 5px, voor de section 3px en de footer 3px;
    7.
        Definieer een hover effect binnen het footer element (gebruik hiervoor nesting). 
        Zorg ervoor dat de tekstkleur en de achtergrondkleur wijzigt.
        Vervolgens pas je een transition toe op de kleur van 0,5s én op de achtergrondkleur van 1s. 
        Maak hiervoor gebruik van een mixin waarbij je meerdere waardes kan meegeven als argument.

    8.
        Maak een klasse “background-primary” (die in de HTML niet zal gebruikt worden) met volgende eigenschappen:
            - Achtergrondkleur naar keuze.
            - Tekstkleur naar keuze.
            - Gecentreerde tekst.
        Pas deze stijl via een extend toe op alle paragrafen.
    9.
        Maak een functie “increaseFontSize” Deze functie heeft een parameter $size en geeft de waarde hiervan, vermenigvuldigd met 2, terug.
        Roep deze functie aan in de paragrafen voor de lettergrootte.
    10.
        PARTIALS - OK.
*/

// NAVBAR
.nav { 
    padding: .6rem 1rem;
    background-color: $color-light;
    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        .nav-listitem {
            display: inline-block;
            margin-left: .6rem;
            font-size: $font-p;
            .nav-link {
                text-decoration: none;
                color: $color-primary;
            }
            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}

// BANNER SECTION

.banner {
    margin: 2rem auto;
    background-color: $color-white;
    min-height: 70vh;
    text-align: center;
    .banner-heading {
        margin: 2rem auto;
        font-size: $font-h3;
        color: $color-primary;    
    }
    .banner-text {
        margin: 0 auto;
        font-size: $font-p;
        color: $color-primary;
        max-width: 60ch;
        margin-top: .6rem;
    }
}

.footer {
    margin-top: 5rem;
    background-color: $color-primary;
    padding: 1.2rem 1rem;
    text-align: center;
    .footer-subheading {
        font-size: $font-h4;
        color: $color-white;
    }
    .footer-text {
        margin-top: .6rem;
        font-size: $font-p;
        color: $color-white;
    }
}